{% extends "manufacture/manufacture_index.html" %}
{% block body %}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
            "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Untitled Document</title>
    </head>

    <body>
    <form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
        <table width="335" border="1" class="table table-secondary">
            <tr>
                <th width="178" scope="row">product name</th>
                <td width="141"><label for="textfield"></label>
                    <input type="text" name="textfield" id="textfield" class="form-control"/></td>
            </tr>
            <tr>
                <th scope="row">image</th>
                <td><label for="fileField"></label>
                    <input type="file" name="fileField" id="fileField" class="form-control"/></td>
            </tr>
            <tr>
                <th scope="row">quantity</th>
                <td><label for="textfield2"></label>
                    <input type="text" name="textfield2" id="textfield2" class="form-control"/></td>
            </tr>
            <tr>
                <th scope="row">manufacture_rate</th>
                <td><label for="textfield3"></label>
                    <input type="text" name="textfield3" id="textfield3" class="form-control"/></td>
            </tr>
            <tr>
                <th scope="row">manufacture_date</th>
                <td><label for="textfield4"></label>
                    <input type="text" name="textfield4" id="textfield4" class="form-control"/></td>
            </tr>
            <tr>
                <th scope="row">expire date</th>
                <td><label for="textfield5"></label>
                    <input type="text" name="textfield5" id="textfield5" class="form-control"/></td>
            </tr>
            <tr>
                <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="enter"/></th>
            </tr>
        </table>
    </form>
    </body>
    </html>
{% endblock %}