{% extends "admin/admin_index.html" %}
{% block body %}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
            "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Untitled Document</title>
    </head>

    <body>
    <form id="form1" name="form1" method="post" action="">
        <table width="200" border="1" class="table table-secondary">
            <tr>
                <th scope="col">#</th>
                <th scope="col">username</th>
                <th scope="col">complaint</th>
                <th scope="col">complaintdate</th>
                <th scope="col">reply</th>
                <th scope="col">replydate</th>
            </tr>
            {% for i in data %}
                <td>
                <td>&nbsp;{{ loop.index }}</td>
                <td>{{ i.name }}&nbsp;</td>
                <td>{{ i.complaint }}&nbsp;</td>
                <td>&nbsp;{{ i.complaint_date }}</td>
                {% if i.reply=="pending" %}
                    <td colspan="2"><a href="/reply/{{ i.complaint_id }}">sentreply</a></td>
                {% else %}
                    <td>{{ i.reply }}</td>
                    <td>{{ i.replydate }}</td>
                {% endif %}
                </tr>
            {% endfor %}
        </table>
    </form>
    </body>
    </html>
{% endblock %}